.px-10 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.py-10 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.md\:px-10 {
    @media (min-width: 768px) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}
.md\:py-10 {
    @media (min-width: 768px) {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
}

/* Sembunyikan bar Google Translate di atas */
.goog-te-banner-frame {
  display: none !important;
}

body {
  top: 0 !important;
}

/* Sembunyikan tooltip */
.goog-tooltip {
  display: none !important;
}

.goog-tooltip:hover {
  display: none !important;
}

/* Sembunyikan highlight aneh */
.goog-text-highlight {
  background-color: transparent !important;
  box-shadow: none !important;
}

/* Hilangkan logo Google kecil */
.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  font-size: 0 !important;
}
