.program-container {
  padding: 30px 50px;
  background: #fff;
}

.program-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* tabel utama */
.program-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #b3c7ff;
}

.program-table th {
  padding: 14px;
  text-align: left;
  font-weight: bold;
  background: #f9fafb;
  border-bottom: 2px solid #b3c7ff;
  border-right: 1px dotted #cbd5e1;
}

.program-table td {
  padding: 14px;
  border-bottom: 1px dotted #cbd5e1;
  border-right: 1px dotted #cbd5e1;
}

/* BARIS KATEGORI */
.category-row {
  cursor: pointer;
  background: #ffffff;
  font-size: 14px;
}

.category-row:hover {
  background: #f1f5f9;
}

/* BARIS FILE */
.file-row {
  background: #ffffff;
}

.file-name {
  padding-left: 45px !important;
}

.file-indent {
  display: inline-block;
  width: 25px;
}

/* ICON PANAH */
.toggle-icon {
  margin-right: 8px;
  font-weight: bold;
  display: inline-block;
  width: 16px;
}

/* tombol unduh */
.btn-unduh {
  display: inline-block;
  padding: 8px 16px;
  background: #e24c4b;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-size: 13px;
  transition: .2s;
}

.btn-unduh:hover {
  background: #c53030;
}

/* PAGINATION biar mirip juga */
.pagination {
  list-style: none;
  display: flex;
  gap: 6px;
}

.pagination li button {
  padding: 6px 10px;
  border: 1px solid #cbd5e1;
  background: white;
  cursor: pointer;
}

.pagination li.active button {
  background: #2563eb;
  color: white;
}
